body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* HERO */
header {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1516826957135-700dedea698c') center/cover no-repeat;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0,0,0,0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TITLE */
header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  letter-spacing: 3px;
  color: #ff2c2c;
}

header p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #ddd;
}

/* BUTTON */
button {
  padding: 14px 28px;
  background: #ff2c2c;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

button:hover {
  background: white;
  color: black;
}

/* SERVICES */
.services {
  padding: 70px 20px;
  text-align: center;
}

.services h2 {
  font-family: 'Playfair Display', serif;
  color: #ff2c2c;
  font-size: 36px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #222;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-8px);
  border-color: #ff2c2c;
}

.card h3 {
  padding: 15px;
  font-weight: 500;
}

/* BOOKING */
#booking {
  padding: 70px 20px;
  background: #0a0a0a;
  text-align: center;
}

#booking h2 {
  font-family: 'Playfair Display', serif;
  color: #ff2c2c;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input {
  margin: 10px 0;
  padding: 14px;
  border: 1px solid #333;
  background: #111;
  color: white;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #ff2c2c;
}
