body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  color: white;
}

/* HERO SECTION */
header {
  height: 100vh;
  background: url('tailor.jpg') center/cover no-repeat;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.7);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TEXT */
header h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

header p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  padding: 12px 25px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: white;
  color: black;
}

/* BOOKING SECTION */
section {
  padding: 60px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input {
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}
